<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Shopee Hub Bel 01</title>
</head>
<body>

    <header>
        <div class="text">
            <h1>Shopee</h1>
        </div>
        <div class="links">
            <a href="/">Inicio</a>
            <a href="/expedidas">Expedidas</a>
            <a href="/aguardando">Aguardando</a>
            <a href="/selecao">Seleção</a>
        </div>
    </header>
    
    <table>
        <thead>
            <th>N° AT</th>
            <th>Cidade</th>
            <th>Distância</th>
            <th>Gaiola</th>
            <th>Quantidade</th>
            <th>Ação</th>
        </thead>

        <div class="text" style="text-align: center; padding: 10px;">
            <h3>Rotas Aguardando Confirmação do Lúcio: {{ count }}</h3>
        </div>

        <tbody>
            {% for i in result %}
            <tr>
                <td>{{i._id}}</td>
                <td>{{i.City}}</td>
                <td>{{i["Total Distance"]}}</td>
                <td>{{i["Corridor/Cage"]}}</td>
                <td>{{i["count"]}}</td>
                <td>
                    <a href="/atualizar-data/{{i['_id']}}">Finalizada</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
