<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
    <title>Shopee Hub Bel 01</title>
</head>
<body>
    
<div id="container">
    <div class="card">
        <h2 style="margin: 8px;">Adicionar Dados do Motorista</h2>
        <form method="post">
            <label>Nome da 3PL</label>
            <input type="text" name="3pl" placeholder="Nome da 3PL" required>
            <label>Nome do Motorista</label>
            <input type="text" name="motorista" placeholder="Nome do Motorista" required>
            <label>Número da Placa</label>
            <input type="text" name="placa" placeholder="Número da Placa" required>
        
            <button type="submit">Atualizar Dados</button>
        </form>
    </div>
</div>

</body>
</html>
